
.mainStrip{
    background-color: #5F4DFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size:small;
  }
  
  @media (min-width: 768px) {
    .md\:text-base {
        font-size: 1rem/* 16px */;
        line-height: 1.5rem/* 24px */;
    }
  }
  .notifBtn{
    height: 1.25rem;
    width: 1.25rem;
    margin-bottom: 0.25rem;
    margin-right: 0.5rem;
  }
  .tagLine{
    background-color: #5F4DFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    color: white;
  }
  .liveImg{
    height: 2rem;
    margin-left: 0.5rem;/* 8px */;
    margin-right: 0.5rem;
    width: 2.5rem;
    --tw-brightness: brightness(1.05);
      filter: var(--tw-filter);
  
  }
  .setFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  @keyframes pulse {
    50% {
        opacity: .5;
    }
  }
  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  .mintNow{
    color: white;
    cursor: pointer;
    font-weight: 900;
    border-bottom: 1px solid white;
  }
  
  .uprightIcon{
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.5rem;
  }