@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700;900&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply p-1 h-8 w-8 bg-gray-200 rounded-full text-gray-700 cursor-pointer hover:bg-gray-300;
  }
}

:root {
  --back-shadow: #3a3e6f;
  --front-edge: #24263e;
  --page-color: #000000;
  --color-primary: #5F4DFF;
  --speed: 500ms;
  --color1:#c1948a;
  --color2:#222;
  --color3:#afa98a;
  --color4:#373d54;
  --color5:#ffffff;
  --body-color:#9ca0d2;
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: var(--page-color);
  width: 100%;
  height: 100%;
}
.comfort{
  font-family: 'Comfortaa', cursive;
  font-weight: 700;

}
.nunito{
  font-family: 'Nunito', sans-serif;
}
.rubik{
  font-family: 'Rubik Iso', cursive;
}
.bungee{
  font-family: 'Bungee Outline', cursive;
}
.kanit{
  font-family: 'Kanit', sans-serif;
}
.orbi{
  font-family: 'Orbitron', sans-serif;
}
.caveat{
  font-family: 'Caveat', cursive;
}
.railway{
  font-family: 'Raleway', sans-serif;
}
.space{
  font-family: 'Space Grotesk', sans-serif;
}
.workSans{
  font-family: 'Work Sans', sans-serif;

}


/*  */

@font-face {
  font-family: Monument;
  src: url(../fonts/MonumentExtended-Regular.otf) format('opentype'), url(../fonts/MonumentExtended-Regular.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: block
}
@font-face {
  font-family: Monument;
  src: url(../fonts/MonumentExtended-Regular.otf) format('opentype'), url(../fonts/MonumentExtended-Regular.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: block
}
@font-face {
  font-family: Monument;
  src: url(../fonts/MonumentExtended-Regular.otf) format('opentype'), url(../fonts/MonumentExtended-Ultrabold.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: block
}
* {
  word-spacing: normal !important
}

.monu{
  font-family: 'Monument';
}

.intro-bg-vid {
  /* width: 100vw; */
  /* height: 100vh; */
  object-fit: cover;
  position: absolute;
  /* left: 0; */
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  rotate: 180deg;
  /* transform: rotateY(180deg); */
}



.ripple {
  /*background: #79b928;
   color: #fff;*/
  /* padding: 20px 23px; */
  position: relative;
  overflow: hidden;
  /* width: 100%; */
}


.ripple::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255) !important;
  width: 10%;
  height: 25%;
  border-radius: 50%;
  z-index: -1;
  top: 35%;
  left: 45%;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.ripple:hover {
  background: rgb(255, 255, 255) !important;
  color: black;
  transition: all ease 0.4s;
  scale: 1.05;
  /* border: white solid; */
}

.ripple:hover::before {
  -webkit-transform: scale(15);
  transform: scale(15);
  -webkit-transition: border-radius .5s .5s, -webkit-transform .5s;
  transition: border-radius .5s .5s, -webkit-transform .5s;
  transition: transform .5s, border-radius .5s .5s;
  transition: transform .5s, border-radius .5s .5s, -webkit-transform .5s;
}

.ripple:hover::after {
  content: "";
  position: absolute;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

}

.-z-1 {
  z-index: 0;
}

.btn-gradient {
  background: linear-gradient(90deg, rgba(147, 64, 255, 1) 0%, rgba(0, 25, 254, 1) 100%);
}

.btn-primary {
  color: #fff;
  background-color: #001AFF;
  border-color: #001AFF;
}


.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.8;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  /* padding: 0.375rem 0.75rem; */
  font-size: 1.063rem;
  border-radius: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: black;
}

.btn-check:focus+.btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 26, 255, 0.25);
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}


.card {
  cursor: pointer;
  width: 130px;
  height: 130px;
  background: rgb(8, 8, 8);
  border: 1px solid rgba(238, 227, 227, 0.2);
  transition: all .2s;
}
 
 
 
 